@charset "UTF-8";

.flex-container{
  display: flex;
  justify-content: center;
}

.btn{
  display: inline-block; /* line-heightを設定するため、inline-blockにしないと */
  line-height: 50px;
  text-align: center;
  padding: 0 15px;
  margin: 0 15px;
  border-radius: 10px;
  cursor: pointer; /* マウスカーソルがポインターに切り替わる */
}

.btn-red{
  color: #fff;
  background: #fd0f0fd9;
}

.btn-blue{
  color: #fff;
  background: #170ffdd9;
}

.btn-green{
  color: #000;
  background: #0ffd0fd9;
}

.shadow-red{
  box-shadow: 0 5px 1px 0 rgba(63, 5, 5, 0.851);
  /* 水平位移 垂直位移 模糊距離(blur) 陰影大小(spread) 陰影顏色 內側陰影(inset) */
}

.shadow-blue{
  box-shadow: 0 5px 1px 0 rgba(5, 13, 63, 0.851);
}

.shadow-green{
  box-shadow: 0 5px 1px 0 rgba(5, 63, 5, 0.851);
}

.active-red:active, .active-blue:active, .active-green:active{
  transform: translateY(5px);
  box-shadow: none;
}

.btn-double{
  color: #67c5ff;
  border: double 4px #67c5ff;
  transition: .5s;
}

.btn-double:hover{
  background: #fffbef;
}

.btn-dotted{
  color: #67c5ff;
  border: dotted 4px #67c5ff; /* 点線 */
  transition: .5s;
}

.btn-dotted:hover{
  border: dashed 4px #67c5ff; /* 破線 */
}

.btn-dashed{
  color: #0079a5f8;
  background: #d0edfff8;
  border: dashed 4px #67c5ff; /* 破線 */
  transition: .5s;
}

.btn-dashed:hover{
  color: #67c5ff;
  background: #fff;
}